body{
    font-family: Roboto, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}
.main-container{
    background: #1F2937;
    display:flex;
    color: aliceblue;
flex-direction: column;
padding-left: 120px;
padding-right: 80px;
padding-bottom: 100px;

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}



.left{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right{
    display: flex;
    gap: 25px;
}

.hero_main_text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-container{
    display: flex;
    justify-content: space-between;
}

.placeholder-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 500px;
    height: 200px;
    
}

.button1{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    background-color:#3882F6;;
    color: white;
    padding: 5px 20px 5px 20px;
    
}

.information-header{
font-size: 36px;
font-weight:800;
color:#1F2937;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

.box1, .box2, .box3, .box4 {
    border: 3px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.second-container{
    display: flex;
    flex-direction: column;
    
}

.box1_container, .box2_container, .box3_container, .box4_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
}

.box-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    
}

.third-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: #E5E7EB;
    color: BLACK;

    padding: 100px 0px 100px 0px;
    
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;

    width: 820px;
    
}

.credits{
    display: flex;
    width: 820px;

    justify-content: flex-end;
    padding-right: 80px;
    color: #1F2937;
    font-weight: bolder;
    font-size:x-large;
}

.fourth-container{
    display: flex;
    justify-content: center;
}
.blue_box{
    background-color: #3882F6;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.calltoaction_title{
    font-weight: bolder;
    font-size: x-large;
    color: white;
}

.calltoaction_text{
    color: white;
}

.button2{
    border: 2px solid white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    background-color:#3882F6;;
    color: white;
    padding: 5px 20px 5px 20px;
    
}

.fifth-container{
    background-color: #1F2937;
    color: white;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
font-size: x-large;
font-weight: bolder;
}