body{
    font-family: Roboto, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}
.main-container{
    background: #1F2937;
    display:flex;
    color: aliceblue;
flex-direction: column;
padding-left: 120px;
padding-right: 80px;
padding-bottom: 100px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}



.left{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right{
    display: flex;
    gap: 25px;
}

.hero_main_text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-container{
    display: flex;
}

.hero-container{
    
    display: flex;
    justify-content: space-between;
}

.placeholder-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 500px;
    height: 200px;
    
}

button{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    padding: 5px 20px 5px 20px;
    
}

.info_main_text{
font-size: 36px;
font-weight:800;
color:#1F2937;
}

.box1, .box2, .box3, .box4 {
    border: 3px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.box-container{
    display: flex;
    gap: 10px;
}